h3 {
    margin: 0;
}


body {
    width: 100%;
    max-width: 1440px;
    margin: auto;
}

.header {
    width: 100%;
    max-width: 1440px;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 36px;
    padding-left: 90px;
    padding-bottom: 29px;
    outline: 1px solid red;
}

.header-menu__left {
    display: flex;
    outline: 1px solid red;
}

.header-menu__right {
    display: flex;
    outline: 1px solid red;
    padding-right: 40px;
}

.header-menu__right-items {
    margin-left: 115px;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #252B42;
    text-decoration: none;
}

.header-menu__right-home {
    color: #FA4A0C;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    text-decoration: none;
}

.header-menu__banner {
    background-image: url(../images/Rectangle48.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 1440px;
    height: 619px;
    margin: 0;
}

.header-menu__headlines {
    /* margin: 70px 250px 2px 218px; */
    /* color: #FFFFFF; */
    outline: 1px solid red;
    position: absolute;
    padding: 70px 218px 5px 218px;
    width: 100%;
    max-width: 1005px;
}

.header-menu__headlines h3 {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
}

.header-menu__headlines h1 {
    font-weight: bold;
    font-size: 58px;
    line-height: 80px;
    text-align: center;
    color: #FFFFFF;
}

.header-menu__headlines h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    color: #F6F6F6;
    text-align: center;
}

.header-menu__banner-btm {
    position: absolute;
    /* margin-top: 401px; 
    margin-left: 521px; */
    width: 100%;
    max-width: 520px;
    padding: 401px 413px 145px 521px;
}

.header-menu__banner-btm__left {
    width: 100%;
    max-width: 236px;
    padding: 16px 59px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    background-color: #FA4A0C;
}

.header-menu__banner-btm__right {
    width: 100%;
    max-width: 236px;
    margin-left: 34px;
    padding: 16px 59px;
    border-radius: 30px;
    border: 1px solid #FFFFFF;
    background: rgba(0, 0, 0, 0);
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
}

.header-menu__banner-phone {
    width: 100%;
    max-width: 1440px;
}

.header-menu__banner-phone img {
    padding: 0 355px 124px 409px;
    margin-top: -263px;
}