@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

h3 {
    margin: 0;
}


body {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    font-family: 'Poppins', 'Montserrat' sans-serif;
}

.header {
    width: 100%;
    max-width: 1440px;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu__box {
    width: 100%;
    max-width: 1300px;
    padding: 36px 40px 29px 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu__left {
    display: flex;
}

.header-menu__right {
    display: flex;
}

.header-menu__right-items {
    margin-left: 115px;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #252B42;
    text-decoration: none;
}

.header-menu__right-home {
    color: #FA4A0C;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    text-decoration: none;
}

.header-menu__banner {
    background-image: url(../images/Rectangle48.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 1440px;
    height: 619px;
    margin: 0;
}

.header-menu__headlines {
    position: absolute;
    padding: 70px 218px 5px 218px;
    width: 100%;
    max-width: 1005px;
}

.header-menu__headlines-first {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    margin-top: 0;
}

.header-menu__headlines-second {
    font-weight: bold;
    font-size: 58px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 30px;
}

.header-menu__headlines-third {
    font-weight: 500;
    font-size: 24px;
    color: #F6F6F6;
    text-align: center;
}

.header-menu__banner-btm {
    width: 100%;
    max-width: 520px;
    margin: auto;
}

.header-menu__banner-btm__left {
    width: 100%;
    max-width: 236px;
    padding: 16px 59px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    background-color: #FA4A0C;
}

.header-menu__banner-btm__right {
    width: 100%;
    max-width: 236px;
    margin-left: 34px;
    padding: 16px 54px 16px 55px;
    border-radius: 30px;
    border: 1px solid #FFFFFF;
    background: rgba(0, 0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
}

.header-menu__banner-phone {
    width: 100%;
    max-width: 1440px;
}

.header-menu__banner-phone img {
    margin-top: -100px;
    width: 100%;
    max-width: 550px;
    height: 100%;
    max-height: 640px;
    padding: 0 150px;
}